<!-- <template name="projectPage">
  <div class="post-page post">
    {{> projectItem}}
    <ul class="comments">
      {{#each components}}
        {{> componentItem}}
      {{/each}}
    </ul>
    <div>
    {{#if currentUser}}
      {{> componentSubmit}}
    {{else}}
      <p>Please log in to add a component.</p>
    {{/if}}
  </div>
  </div>
</template> -->

<template name="projectPage">
  <div class="post-page page">
    {{> projectItem}}

    <ul class="comments">
      {{#each components}}
        {{> componentItem}}
      {{/each}}
    </ul>
    {{#if currentUser}}
      {{> componentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>